[mysqld]
pid-file = /var/run/mysqld/mysqld.pid
lower_case_table_names = 1
skip-log-bin
skip-name-resolve
skip-log-bin
innodb_buffer_pool_size = 64M
performance_schema = OFF
mysqlx = OFF
log-error-verbosity = 1