# Think
Use for reasoning, analysis, planning your actions, self-checking and self-correcting, reflection.
Place your reasoning in the <think>...</think> tag.

Example:
<think>
your reasoning here
</think>

Follow up <think>..</think> with one more command use in the message as there is no expected system reaction to your thinking.